@import url(//db.onlinewebfonts.com/c/326619a7a5fb14952717941fcc7b05b8?family=Nokio+Medium);
.jss85 {
  flex-grow: 1;
}

.jss1298 {
  width: 100%;
  background-color: #FAFAFA;
}

.jss1299 {
  margin: 0 auto;
  max-width: 1296px;
  background-color: #FAFAFA;
}

@font-face {
  font-family: "Nokio Medium";
  src: url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.eot");
  src: url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.woff") format("woff"), url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/326619a7a5fb14952717941fcc7b05b8.svg#Nokio Medium") format("svg");
}
a {
  color: #1451B5;
  font-weight: 600;
  text-decoration-color: #B5CCF1;
  font-family: "Nokio Medium";
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

@media (min-width: 1024px) {
  .jss1299 {
    padding-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .jss1299 {
    width: calc(100% - 144px);
  }
}
.jss1301 {
  padding: 0 16px;
}

@media (min-width: 420px) {
  .jss1301 {
    padding: 0 24px;
  }
}
@media (min-width: 768px) {
  .jss1301 {
    padding: 0 112px;
  }
}
@media (min-width: 1024px) {
  .jss1301 {
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  .jss1301 {
    padding: 0 72px;
  }
}
@media (min-width: 1440px) {
  .jss1301 {
    padding: 0;
  }
}
.jss1309 {
  width: 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .jss1309 {
    padding: 0 112px;
  }
}
@media (min-width: 1024px) {
  .jss1309 {
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  .jss1309 {
    padding: 0 72px;
  }
}
@media (min-width: 1440px) {
  .jss1309 {
    padding: 0;
  }
}
.MuiGrid-grid-xs-12 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}

@media (min-width: 1024px) {
  .MuiGrid-grid-lg-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
}
@media (min-width: 1440px) {
  .jss1320 {
    max-width: 66.6667%;
    flex-basis: 66.6667%;
  }
}
@media (min-width: 1440px) {
  .jss1312 {
    padding-right: 24px;
  }
}
.jss1324 {
  position: relative;
}

@media (min-width: 768px) {
  .jss1324 {
    border-radius: 8px;
  }
}
.jss1325 {
  width: 100%;
  border: 1px solid #EAEAEA;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border-bottom: none;
  justify-content: center;
}

@media (min-width: 768px) {
  .jss1325 {
    border-radius: 8px 8px 0px 0px;
  }
}
.jss1343 {
  display: flex;
  z-index: 1;
  align-items: center;
}

.jss1336 {
  top: 16px;
  right: 16px;
  z-index: 1;
  position: absolute;
}

.jss41 {
  color: #353535;
  background-color: #fff;
}

.jss1345 {
  width: 40px;
  height: 40px;
  padding: 0px;
  min-width: 0px;
  min-height: 0px;
  border-radius: 4px;
}

.jss1340 {
  box-shadow: none;
  border-color: #EAEAEA;
}

.jss1340.MuiButtonBase-root {
  border-radius: 50%;
}

@media (min-width: 1440px) {
  .jss1351 {
    max-width: 33.3333%;
    flex-basis: 33.3333%;
  }
}
.jss1355 {
  width: 100%;
  display: flex;
  padding: 0px 24px 8px 24px;
  flex-wrap: wrap;
}

@media (min-width: 420px) {
  .jss1355 {
    padding: 0px 24px 8px 24px;
  }
}
@media (min-width: 768px) {
  .jss1355 {
    padding: 0px 0px 8px 0px;
  }
}
.jss1362 {
  width: 100%;
  display: flex;
  align-items: center;
}

.MuiTypography-subtitle1 {
  font-size: 1.1428571429rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

.jss112 {
  font-size: 1.2857142857rem;
  font-weight: 400;
  line-height: 1.6428571429rem;
  letter-spacing: -0.5px;
}

@media (min-width: 768px) {
  .jss112 {
    font-size: 1.3571428571rem;
    line-height: 1.7857142857rem;
  }
}
@media (min-width: 1200px) {
  .jss112 {
    font-size: 1.4285714286rem;
    line-height: 1.8571428571rem;
  }
}
.jss1361 {
  color: #353535;
}

.jss1366 {
  width: 100%;
}

.jss1358 {
  color: #707070;
}

.jss1370 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.jss1367 {
  width: 100%;
}

@media (min-width: 1024px) {
  .jss1367 {
    margin-top: 16px;
  }
}
.MuiTypography-h5 {
  font-size: 1.7142857143rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.334;
}

.jss110 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.9285714286rem;
  letter-spacing: -0.5px;
}

@media (min-width: 768px) {
  .jss110 {
    font-size: 1.6428571429rem;
    line-height: 2.1428571429rem;
    letter-spacing: -0.5px;
  }
}
@media (min-width: 1200px) {
  .jss110 {
    font-size: 1.7857142857rem;
    line-height: 2.2857142857rem;
  }
}
.jss1369 {
  width: 100%;
  text-align: right;
}

.jss1313 {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .jss1313 {
    flex-direction: column-reverse;
  }
}
.jss1372 {
  display: flex;
  padding: 16px 24px 16px;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .jss1372 {
    padding: 8px 0px 0px;
  }
}
.jss43.jss36 .MuiButton-startIcon {
  margin-top: -2px;
}

@media (min-width: 1024px) {
  .jss43.jss36 .MuiButton-startIcon {
    margin-top: -2px;
  }
}
.jss1374 {
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  z-index: 2;
  position: fixed;
  align-items: center;
  border-radius: 0;
}

@media (min-width: 1440px) {
  .jss1374 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.jss1375 {
  display: none;
}

.jss1374 .MuiGrid-container {
  height: 100%;
}

@media (min-width: 1440px) {
  .jss1374 .MuiGrid-container {
    width: calc(100% - 144px);
    max-width: 1296px;
  }
}
.MuiGrid-container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

@media (min-width: 768px) {
  .MuiGrid-grid-md-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }
}
.jss1376 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .jss1376 {
    padding-left: 24px;
  }
}
@media (min-width: 1200px) {
  .jss1376 {
    padding-left: 32px;
  }
}
@media (min-width: 1440px) {
  .jss1376 {
    padding-left: 0px;
  }
}
.jss1378 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .MuiGrid-grid-lg-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }
}
.jss1411 {
  margin: 0px 24px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #EAEAEA;
}

@media (min-width: 420px) {
  .jss1411 {
    display: flex;
    padding: 8px 8px 8px 16px;
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .jss1411 {
    margin: 8px 0px 16px 0px;
    padding: 16px 16px 16px 24px;
  }
}
@media (min-width: 1024px) {
  .jss1411 {
    padding: 12px 8px 12px 16px;
    margin-top: 0px;
  }
}
.jss1414 {
  color: #353535;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .jss1414 {
    margin-right: 16px;
  }
}
@media (min-width: 768px) {
  .jss116 {
    font-size: 1.2857142857rem;
    line-height: 1.9285714286rem;
    letter-spacing: -0.18px;
  }
}
.jss1412 {
  color: #353535;
}

.jss1413 {
  color: #353535;
}

@media (min-width: 768px) {
  .jss1415 {
    padding: 16px 0;
  }
}
.jss1416 {
  margin: 0px 16px 32px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 420px) {
  .jss1416 {
    margin: 0px 24px 32px;
    align-items: self-start;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .jss1416 {
    margin: 0 0px 24px 0px;
  }
}
@media (min-width: 420px) {
  .jss1416:last-of-type {
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .jss1416:last-of-type {
    margin-bottom: 0;
  }
}
.jss1416:first-of-type {
  margin-top: 16px;
}

.jss1417 {
  width: 64px;
  height: 64px;
}

.jss1418 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 420px) {
  .jss1418 {
    align-items: flex-start;
    margin-left: 16px;
  }
}
.jss1440 {
  font-size: 1.1428571429rem;
  font-weight: 600;
  line-height: 2rem;
}

.jss1419 {
  color: #353535;
}

.jss1439 {
  font-size: 1.1428571429rem;
  font-weight: 400;
  line-height: 2rem;
}

@media (min-width: 420px) {
  .jss1420 {
    margin-bottom: 8px;
  }
}
.jss1420 {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .jss1421 {
    margin-left: 0px;
    padding-bottom: 0px;
  }
}
@media (min-width: 420px) {
  .jss1421 {
    margin-left: 0px;
  }
}
.jss1421 {
  display: flex;
  align-items: flex-end;
  padding-top: 4px;
  flex-direction: row;
}

@media (min-width: 420px) {
  .jss1422 {
    margin-right: 12px;
  }
}
.jss1422 {
  margin-right: 8px;
}

.jss1423 {
  display: flex;
  align-items: center;
  text-underline-position: under;
}

.slick-list img {
  width: 100%;
}

.slick-slider {
  margin: auto;
  width: 800px;
}

.cloudimage-360-inner-box canvas {
  width: 100% !important;
}

@media (max-width: 1400px) {
  .MuiGrid-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
  }
}
@media (max-width: 480px) {
  .cloudimage-360-inner-box canvas {
    width: 200px;
    height: 350px;
  }

  .MuiGrid-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
}
.jss304 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 0 0 0;
  align-items: center;
  flex-direction: column;
}

.jss303 {
  width: 100%;
  margin: 0 72px;
  display: flex;
  max-width: 1440px;
  padding-top: 32px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.MuiTypography-h2 {
  font-size: 4.2857142857rem;
  font-family: "Nokio Medium";
  font-weight: 300;
  line-height: 1.2;
}

.jss105 {
  font-size: 2.2857142857rem;
  font-weight: 700;
  line-height: 2.7142857143rem;
  letter-spacing: -0.6px;
}

@media (min-width: 768px) {
  .jss105 {
    font-size: 2.8571428571rem;
    line-height: 3.4285714286rem;
    letter-spacing: -1.2px;
  }
}
@media (min-width: 1200px) {
  .jss105 {
    font-size: 3.5rem;
    line-height: 4.2142857143rem;
    letter-spacing: -1.5px;
  }
}
.jss306 {
  color: #353535;
  text-align: center;
  margin-bottom: 16px;
}

.jss308 {
  color: #353535;
  display: inline-flex;
  overflow: visible;
  min-height: unset;
}

.jss307 {
  margin: 0 auto 32px;
}

.MuiTabs-scroller {
  flex: 1 1 auto;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.MuiTabs-fixed {
  width: 100%;
  overflow-x: hidden;
}

.jss308 .MuiTabs-scroller {
  padding: 4px 4px 0;
}

.MuiTabs-flexContainer {
  display: flex;
}

.jss308 .MuiTabs-scroller .MuiTabs-flexContainer {
  position: relative;
  padding-bottom: 2px;
}

.MuiTab-textColorInherit {
  color: inherit;
  opacity: 0.7;
}

.jss314 {
  padding: 0;
  overflow: visible;
  min-width: 0;
  min-height: unset;
  text-transform: initial;
}

@media (min-width: 420px) {
  .jss314 {
    min-width: 0;
  }
}
.jss315 {
  color: #1451B5;
  font-weight: 600;
}

.jss316 {
  opacity: 1;
}

.MuiTab-textColorInherit.Mui-selected {
  opacity: 1;
}

.jss314:first-child {
  margin-left: 0;
}

.jss310 .MuiTab-root {
  margin: 0 24px;
  font-weight: 700;
}

.jss312 .MuiTab-root {
  font-size: 1.1428571429rem;
  line-height: 1.7142857143rem;
  padding-bottom: 12px;
}

@media (min-width: 768px) {
  .jss312 .MuiTab-root {
    font-size: 1.2857142857rem;
    line-height: 1.9285714286rem;
  }
}
.jss310 .MuiTab-root:first-child {
  margin-left: 0;
}

.MuiTab-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.jss308 {
  color: #353535;
  display: inline-flex;
  overflow: visible;
  min-height: unset;
}

.jss317 {
  width: 100%;
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.jss318 {
  background-color: #1451B5;
}

.jss309 {
  bottom: 2px;
  height: 4px;
  border-radius: 8px;
  background-color: #B5CCF1;
}

.jss305 {
  width: 100%;
  padding-bottom: 0px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jss305 {
    padding-bottom: 16px;
  }
}
.jss305 > div {
  margin: 0 auto;
  max-width: 1440px;
}

.jss325 {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 420px) {
  .jss325 {
    width: 406px;
  }
}
@media (min-width: 768px) {
  .jss325 {
    width: 539px;
  }
}
@media (min-width: 1024px) {
  .jss325 {
    width: 818px;
  }
}
@media (min-width: 1200px) {
  .jss325 {
    width: 956px;
  }
}
@media (min-width: 1440px) {
  .jss325 {
    width: 1143px;
  }
}
.MuiGrid-containerr {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.jss325 ul {
  padding-left: 0;
  list-style-type: none;
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}

.MuiGrid-grid-xs-6 {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}

@media (min-width: 420px) {
  .MuiGrid-grid-sm-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media (min-width: 768px) {
  .MuiGrid-grid-md-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }
}
@media (min-width: 1024px) {
  .MuiGrid-grid-lg-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }
}
@media (min-width: 1200px) {
  .MuiGrid-grid-xl-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }
}
@media (min-width: 768px) {
  .jss321 {
    display: flex;
  }
}
.jss324 {
  margin: 0;
  display: flex;
  padding-bottom: 32px;
}

@media (min-width: 1200px) {
  .jss324 {
    padding-bottom: 48px;
  }
}
@media (min-width: 768px) {
  .jss321 > div {
    min-width: 250px;
  }
}
.jss323 {
  width: 64px;
  height: 64px;
  margin: 0px 16px 0px 0px;
}

.jss114 {
  font-size: 1.1428571429rem;
  font-weight: 700;
  line-height: 1.7142857143rem;
  letter-spacing: -0.16px;
}

@media (min-width: 768px) {
  .jss114 {
    font-size: 1.2857142857rem;
    line-height: 1.9285714286rem;
    letter-spacing: -0.18px;
  }
}
.jss324 p {
  color: #1F1F1F;
}

.a-enter-exit {
  background-size: 90% 90%;
  border: 0;
  bottom: 0;
  cursor: pointer;
  min-width: 58px;
  min-height: 34px;
  padding-right: 0;
  padding-top: 0;
  position: absolute;
  right: 0;
  transition: background-color 0.05s ease;
  -webkit-transition: background-color 0.05s ease;
  z-index: 9999;
  border-radius: 8px;
}

.carousel-indicators {
  position: absolute;
  bottom: -30%;
}

.carousel-indicators li {
  margin-left: 10px;
  cursor: pointer;
}

.carousel-indicators li:first-child {
  display: flex;
}

.carousel-indicators li:first-child img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.carousel-indicators .active:not(:first-child) {
  border: 1px red solid;
}

.carousel-indicators li img {
  width: 100px;
  height: 100px;
}

.showInteriorrr {
  margin-left: 1rem;
  border: 1px solid red;
}

/*# sourceMappingURL=detail.css.map */
