<footer class="jss89" id="page-footer">
  <div class="jss91">
    <div class="MuiGrid-root MuiGrid-container">
      <div class="MuiGrid-root jss99 MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3 MuiGrid-grid-xl-2">
        <h6 class="MuiTypography-root jss111 jss97 MuiTypography-h6">Shop</h6>
        <div class="jss101">
          <a class="jss94 jss100" id="footer-Footer-search-used-cars" role="link" href="/shop">Search Used
            Cars</a>
        </div>
        <div class="jss101">
          <a class="jss94 jss100" id="footer-Footer-Search-New" role="link"
            href="/shop?filters=eyJzZWFyY2hfcXVlcnkiOiIiLCJzb3J0IjoiIiwiY3VycmVudFBhZ2UiOjEsImZpbHRlcnMiOnsidmVoaWNsZV9jb25kaXRpb24iOlsiTmV3Il19fQ==">Search
            New Cars</a>
        </div>
        <div class="jss101">
          <a class="jss94 jss100" id="footer-menu-footer-shop-how-buying-a-car-works" role="link"
            href="/how-it-works-shop">How Buying A Car Works</a>
        </div>
      </div>
      <div class="MuiGrid-root jss99 MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3 MuiGrid-grid-xl-2">
        <h6 class="MuiTypography-root jss111 jss97 MuiTypography-h6">Sell/Trade</h6>
        <div class="jss101">
          <a class="jss94 jss100" id="footer-get-an-offer" role="link" href="/sell-your-car">Get an Offer</a>
        </div>
        <div class="jss101">
          <a class="jss94 jss100" id="footer-menu-footer-sell-how-sell-trade-works" role="link"
            href="/how-it-works-sell">How Sell/Trade Works</a>
        </div>
      </div>
      <!-- <div class="MuiGrid-root jss99 MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3 MuiGrid-grid-xl-2">
        <h6 class="MuiTypography-root jss111 jss97 MuiTypography-h6">Service</h6>
        <div class="jss101">
          <a class="jss94 jss100" id="footer-schedule-service" role="link" href="/service-your-vehicle">Schedule
            Service</a>
        </div>
        <div class="jss101">
          <a class="jss94 jss100" id="footer-menu-footer-service-how-service-works" role="link"
            href="/how-it-works-service">How Service Works</a>
        </div>
      </div>
      <div class="MuiGrid-root jss99 MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3 MuiGrid-grid-xl-2">
        <h6 class="MuiTypography-root jss111 jss97 MuiTypography-h6">Finance</h6>
        <div class="jss101"><a class="jss94 jss100" id="footer-Footer-CTA-Get-Prequalified" role="link"
            href="/pre-qualification/apply">Get Pre-Qualified</a></div>
        <div class="jss101"><a class="jss94 jss100" id="footer-Footer-Finance-Calculator" role="link"
            href="/calculator">Payment Calculator</a></div>
        <div class="jss101"><a class="jss94 jss100" id="footer-menu-footer-finance-how-financing-works"
            role="link" href="/financing-a-car-with-driveway">How Financing Works</a></div>
      </div>
      <div class="MuiGrid-root jss99 MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3 MuiGrid-grid-xl-2">
        <h6 class="MuiTypography-root jss111 jss97 MuiTypography-h6">Learn</h6>
        <div class="jss101"><a class="jss94 jss100" id="footer-footer-learn-drop-guides-tips" role="link"
            href="/learn">Guides &amp; Tips</a></div>
        <div class="jss101"><a class="jss94 jss100" id="footer-Footer-Learn-Drop-About-Driveway-link" role="link"
            href="/about">About Driveway</a></div>
        <div class="jss101"><a class="jss94 jss100" id="footer-menu-footer-Learn-In-Your-Neighborhood" role="link"
            href="/learn/local">In Your Neighborhood</a></div>
        <div class="jss101"><a class="jss94 jss100" id="footer-menu-footer-Learn-Driveway-Reviews" role="link"
            href="/reviews">Driveway Reviews</a></div>
      </div> -->
      <div class="MuiGrid-root jss99 MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3 MuiGrid-grid-xl-2" style= "margin-left: 50%;">
        <h6 class="MuiTypography-root jss111 jss97 MuiTypography-h6">Help</h6>
        <div class="jss101"><a class="jss94 jss100" id="footer-Footer-Help-FAQ" role="link" href="/faq">FAQ</a>
        </div>
        <!-- <div class="jss101"><a href="#footer-Footer-Help-Chat" class="jss94 jss100" id="footer-Footer-Help-Chat"
            role="button">Live Chat</a></div>
        <div class="jss101"><a class="jss94 jss100" id="footer-Menu-footer-help-contact-us" role="link"
            href="/contact-us">Contact Us</a></div>
        <div class="jss101"><a href="tel:+18883783929" class="jss94 jss100" id="footer-Footer-Help-Call"
            role="link">(888) DRV-EWAY</a></div>
        <div class="jss101"><a href="mailto:support@driveway.com" class="jss94 jss100"
            id="footer-Footer-Help-Email" role="link">support@driveway.com</a></div>
        <div class="jss101"><a href="https://lithia.wd5.myworkdayjobs.com/en-US/Driveway" class="jss94 jss100"
            id="footer-Footer-Help-Careers" role="link">Careers</a></div> -->
        <div class="jss102">
          <a href="https://www.facebook.com/vucar.facebook"
            class="MuiButtonBase-root MuiButton-root MuiButton-text jss34 jss37 jss40 jss30 jss123 jss103"
            tabindex="0" role="link" aria-disabled="false" id="footer-CTA-Sharing-Facebook"
            rel="noopener noreferrer" target="_blank" aria-label="Facebook"><span class="MuiButton-label"><span
                class="button-text">
                <div class="jss31 jss124"><img alt="" class="jss104"
                    src="//images.ctfassets.net/02gclfesbluk/uUrgEPkd60L8RZ0fnEaJ2/63963bac39b8a2e857c5a11ca566d28c/ico-facebook.svg">
                </div>
              </span></span></a><a href="https://www.instagram.com/driveway_hq"
            class="MuiButtonBase-root MuiButton-root MuiButton-text jss34 jss37 jss40 jss30 jss125 jss103"
            tabindex="0" role="link" aria-disabled="false" id="footer-CTA-Sharing-Instagram"
            rel="noopener noreferrer" target="_blank" aria-label="Instagram"><span class="MuiButton-label"><span
                class="button-text">
                <div class="jss31 jss126"><img alt="" class="jss104"
                    src="//images.ctfassets.net/02gclfesbluk/LES1bFS9pLfrQyzdEry8f/e24cf67afa246db23e9e95fa8192e6b7/ico-instagram.svg">
                </div>
              </span></span></a>
              </div>
      </div>
    </div>
    <hr class="MuiDivider-root jss98">
    <div class="jss90">
      <div class="jss93"><a href="https://www.lithia.com/lithia-privacy.htm" class="jss94 jss95"
          data-text="Terms of Use / Privacy Policy" target="_blank" rel="noopener noreferrer">Terms of Use /
          Privacy Policy</a>
        <div class="jss92"></div><a href="https://www.lithia.com/lithia-california-policy.htm" class="jss94 jss95"
          data-text="CA Supply Chains Act" target="_blank" rel="noopener noreferrer">CA Supply Chains Act</a>
        <div class="jss92"></div>
        <div id="footer-links-version" class="jss94 jss95">v1.38.1</div>
      </div><a href="/"><img class="jss96"
          src="/img/white_logo_transparent_background.png"
          alt="Vucar"></a>
    </div>
  </div>
</footer>
