<header class="MuiPaper-root MuiAppBar-root MuiAppBar-positionRelative MuiAppBar-colorInherit MuiPaper-elevation4"
  aria-label="Main" id="page-header" role="banner">
  <div class="jss16"><a class="jss15" data-cy="skip-nav-bar" href="#maincontent">Skip to main content</a></div>
  <div class="MuiToolbar-root MuiToolbar-dense jss26">
    <div class="jss24">
      <div class="jss41">
        <div class="jss23">
          </div>
      </div>
    </div>
    <a class="jss27" href="/"><img  style="margin-top:10px;" class="jss22" src="/img/logo_transparent_background.png"
        alt="Driveway"></a>
    <div class="jss17">
      <nav aria-label="Primary Navigation" id="nav-primary">
        <ul class="jss142">
          <li class="jss143" id="nav-primary-Header-Buy-Drop">
            <div class="jss147" arial-label="Shop Menu" id="74MtBAXpsgz7518fy2E17F">
              <a href="/shop" class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss50 jss54 jss58 has-icon jss149"
                tabindex="0" type="button" aria-haspopup="true" aria-controls="shop-dropdown"
                aria-expanded="false"><span class="MuiButton-label"><span class="button-text">Shop</span><span
                    class="MuiButton-endIcon MuiButton-iconSizeMedium"><svg width="16" height="17" viewBox="0 0 16 17"
                      fill="none" xmlns="http://www.w3.org/2000/svg" class="jss153">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.53842 11.6186C8.24088 11.905 7.75847 11.905 7.46093 11.6186L2.8895 7.21859C2.59196 6.9322 2.59196 6.46788 2.8895 6.1815C3.18704 5.89511 3.66945 5.89511 3.96699 6.1815L7.99967 10.063L12.0324 6.1815C12.3299 5.89511 12.8123 5.89511 13.1099 6.1815C13.4074 6.46788 13.4074 6.9322 13.1099 7.21859L8.53842 11.6186Z"
                        fill="#1F1F1F"></path>
                    </svg></span></span></a></div>
          </li>
          <!-- <li class="jss143" id="nav-primary-header-sell">
            <div class="jss147" arial-label="Sell/Trade Menu" id="4q8UBZvztwClvQSQDNZdaE"><button
                class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss50 jss54 jss58 has-icon jss149"
                tabindex="0" type="button" aria-haspopup="true" aria-controls="sell/trade-dropdown"
                aria-expanded="false"><span class="MuiButton-label"><span class="button-text">Sell/Trade</span><span
                    class="MuiButton-endIcon MuiButton-iconSizeMedium"><svg width="16" height="17" viewBox="0 0 16 17"
                      fill="none" xmlns="http://www.w3.org/2000/svg" class="jss153">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.53842 11.6186C8.24088 11.905 7.75847 11.905 7.46093 11.6186L2.8895 7.21859C2.59196 6.9322 2.59196 6.46788 2.8895 6.1815C3.18704 5.89511 3.66945 5.89511 3.96699 6.1815L7.99967 10.063L12.0324 6.1815C12.3299 5.89511 12.8123 5.89511 13.1099 6.1815C13.4074 6.46788 13.4074 6.9322 13.1099 7.21859L8.53842 11.6186Z"
                        fill="#1F1F1F"></path>
                    </svg></span></span></button></div>
          </li>
          <li class="jss143" id="nav-primary-header-service">
            <div class="jss147" arial-label="Service Menu" id="1fcu3jYOmVIPseM96paOW0"><button
                class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss50 jss54 jss58 has-icon jss149"
                tabindex="0" type="button" aria-haspopup="true" aria-controls="service-dropdown"
                aria-expanded="false"><span class="MuiButton-label"><span class="button-text">Service</span><span
                    class="MuiButton-endIcon MuiButton-iconSizeMedium"><svg width="16" height="17" viewBox="0 0 16 17"
                      fill="none" xmlns="http://www.w3.org/2000/svg" class="jss153">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.53842 11.6186C8.24088 11.905 7.75847 11.905 7.46093 11.6186L2.8895 7.21859C2.59196 6.9322 2.59196 6.46788 2.8895 6.1815C3.18704 5.89511 3.66945 5.89511 3.96699 6.1815L7.99967 10.063L12.0324 6.1815C12.3299 5.89511 12.8123 5.89511 13.1099 6.1815C13.4074 6.46788 13.4074 6.9322 13.1099 7.21859L8.53842 11.6186Z"
                        fill="#1F1F1F"></path>
                    </svg></span></span></button></div>
          </li>
          <li class="jss143" id="nav-primary-Finance-megaNav">
            <div class="jss147" arial-label="Finance Menu" id="1cbnmXFbwWTPmpj4GFWFTN"><button
                class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss50 jss54 jss58 has-icon jss149"
                tabindex="0" type="button" aria-haspopup="true" aria-controls="finance-dropdown"
                aria-expanded="false"><span class="MuiButton-label"><span class="button-text">Finance</span><span
                    class="MuiButton-endIcon MuiButton-iconSizeMedium"><svg width="16" height="17" viewBox="0 0 16 17"
                      fill="none" xmlns="http://www.w3.org/2000/svg" class="jss153">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.53842 11.6186C8.24088 11.905 7.75847 11.905 7.46093 11.6186L2.8895 7.21859C2.59196 6.9322 2.59196 6.46788 2.8895 6.1815C3.18704 5.89511 3.66945 5.89511 3.96699 6.1815L7.99967 10.063L12.0324 6.1815C12.3299 5.89511 12.8123 5.89511 13.1099 6.1815C13.4074 6.46788 13.4074 6.9322 13.1099 7.21859L8.53842 11.6186Z"
                        fill="#1F1F1F"></path>
                    </svg></span></span></button></div>
          </li>
          <li class="jss143" id="nav-primary-Header-Learn-Drop">
            <div class="jss147" arial-label="Learn Menu" id="2xVLa9XQC41OFuNVlHbdc"><button
                class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss50 jss54 jss58 has-icon jss149"
                tabindex="0" type="button" aria-haspopup="true" aria-controls="learn-dropdown"
                aria-expanded="false"><span class="MuiButton-label"><span class="button-text">Learn</span><span
                    class="MuiButton-endIcon MuiButton-iconSizeMedium"><svg width="16" height="17" viewBox="0 0 16 17"
                      fill="none" xmlns="http://www.w3.org/2000/svg" class="jss153">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.53842 11.6186C8.24088 11.905 7.75847 11.905 7.46093 11.6186L2.8895 7.21859C2.59196 6.9322 2.59196 6.46788 2.8895 6.1815C3.18704 5.89511 3.66945 5.89511 3.96699 6.1815L7.99967 10.063L12.0324 6.1815C12.3299 5.89511 12.8123 5.89511 13.1099 6.1815C13.4074 6.46788 13.4074 6.9322 13.1099 7.21859L8.53842 11.6186Z"
                        fill="#1F1F1F"></path>
                    </svg></span></span></button></div>
          </li> -->
        </ul>
      </nav>
    </div>
    <div class="jss25" id="nav-secondary">
      <nav class="jss158" aria-label="Secondary Navigation" data-cy="secondary-nav">
        <ul class="jss159">
          <li class="jss160">
            <div class="jss159" arial-label="Help Menu" id="nav-secondary-help"><button
                class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss48 jss54 jss58 has-icon jss167 jss167 jss164"
                tabindex="0" type="button" aria-haspopup="true" aria-controls="help-dropdown"
                aria-expanded="false"><span class="MuiButton-label"><span class="button-text">Help</span><span
                    class="MuiButton-endIcon MuiButton-iconSizeMedium"><svg width="16" height="17" viewBox="0 0 16 17"
                      fill="none" xmlns="http://www.w3.org/2000/svg" class="jss165">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.53842 11.6186C8.24088 11.905 7.75847 11.905 7.46093 11.6186L2.8895 7.21859C2.59196 6.9322 2.59196 6.46788 2.8895 6.1815C3.18704 5.89511 3.66945 5.89511 3.96699 6.1815L7.99967 10.063L12.0324 6.1815C12.3299 5.89511 12.8123 5.89511 13.1099 6.1815C13.4074 6.46788 13.4074 6.9322 13.1099 7.21859L8.53842 11.6186Z"
                        fill="#1F1F1F"></path>
                    </svg></span></span></button></div>
          </li>
        </ul>
      </nav>
      <div class="jss41"><button
          class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss50 jss53 jss58 jss43 jss75 help-nav-item iconSize jss69"
          tabindex="0" type="button" id="help" aria-label="Open Help Dialog"><span class="MuiButton-label"><span
              class="button-text">
              <div class="jss44 jss76"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12 3.81818C7.48131 3.81818 3.81818 7.48131 3.81818 12C3.81818 16.5187 7.48131 20.1818 12 20.1818C16.5187 20.1818 20.1818 16.5187 20.1818 12C20.1818 7.48131 16.5187 3.81818 12 3.81818ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
                    fill="currentColor"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.2348 8.38576C11.8116 8.31317 11.3763 8.3927 11.0061 8.61026C10.636 8.82782 10.3547 9.16937 10.2122 9.57442C10.0456 10.0481 9.5266 10.2969 9.05298 10.1303C8.57935 9.96371 8.33046 9.4447 8.49707 8.97107C8.78205 8.16097 9.34453 7.47787 10.0849 7.04275C10.8253 6.60763 11.6957 6.44857 12.5421 6.59375C13.3885 6.73893 14.1562 7.17898 14.7093 7.83595C15.2622 8.49279 15.5649 9.32409 15.5637 10.1827C15.5633 11.5739 14.5319 12.4926 13.7953 12.9837C13.3993 13.2477 13.0097 13.4419 12.7227 13.5694C12.578 13.6337 12.456 13.6826 12.3682 13.716C12.3242 13.7328 12.2885 13.7458 12.2626 13.755L12.231 13.7661L12.2209 13.7695L12.2174 13.7707L12.216 13.7712C12.2157 13.7713 12.2149 13.7716 11.9274 12.9091L12.2149 13.7716C11.7385 13.9303 11.2237 13.6729 11.0649 13.1966C10.9063 12.7206 11.1632 12.2061 11.6389 12.047L11.6378 12.0474C11.6379 12.0473 11.638 12.0473 11.6389 12.047L11.6535 12.0419C11.6674 12.0369 11.6904 12.0286 11.7209 12.017C11.7822 11.9936 11.8734 11.9572 11.9843 11.9079C12.2087 11.8082 12.501 11.6614 12.7867 11.4709C13.4137 11.0529 13.7456 10.6083 13.7456 10.1818L13.7456 10.1805C13.7462 9.7511 13.5949 9.33535 13.3183 9.00687C13.0418 8.67838 12.658 8.45835 12.2348 8.38576Z"
                    fill="currentColor"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.0908 16.5455C11.0908 16.0434 11.4978 15.6364 11.9999 15.6364H12.009C12.5111 15.6364 12.9181 16.0434 12.9181 16.5455C12.9181 17.0475 12.5111 17.4545 12.009 17.4545H11.9999C11.4978 17.4545 11.0908 17.0475 11.0908 16.5455Z"
                    fill="currentColor"></path>
                </svg></div>
            </span></span></button></div>
      <div class="jss17" >
        <hr class="MuiDivider-root jss21 MuiDivider-vertical" aria-hidden="true">
        <button class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss48 jss52 jss58 jss18" {{#if userid}} style="display:none" {{/if}} tabindex="0"
          type="button" data-cy="login-btn">
          <span class="MuiButton-label">
            <span class="button-text">Log In</span>
          </span>
        </button>
        <div class="MuiBox-root jss170" {{#if userid}} style="display:none" {{/if}}>
          <button class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss48 jss52" tabindex="0" type="button"
            data-cy="signup-btn">
            <span class="MuiButton-label">
              <span class="button-text">Sign Up</span>
            </span>
          </button>
        </div>
        <div class="MuiBox-root jss170" {{#unless userid}} style="display:none" {{/unless }}>
          <button class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss48 jss52" tabindex="0" type="button"
            data-cy="logout-btn">
            <span class="MuiButton-label">
              <a href="/user/logout" style="color:white;" class="button-text">Logout</a>
            </span>
          </button>
        </div>

      </div>
      <div class="jss35">
        <button class="MuiButtonBase-root MuiButton-root MuiButton-text jss47 jss50 jss53 jss58 jss43 jss77 jss19"
          tabindex="0" type="button" data-cy="login-btn-icon" aria-label="Login">
          <span class="MuiButton-label">
            <span class="button-text">
              <div class="jss44 jss78">

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                  class="jss20">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M4.46447 15.4645C5.40215 14.5268 6.67392 14 8 14H16C17.3261 14 18.5979 14.5268 19.5355 15.4645C20.4732 16.4021 21 17.6739 21 19V21C21 21.5523 20.5523 22 20 22C19.4477 22 19 21.5523 19 21V19C19 18.2044 18.6839 17.4413 18.1213 16.8787C17.5587 16.3161 16.7956 16 16 16H8C7.20435 16 6.44129 16.3161 5.87868 16.8787C5.31607 17.4413 5 18.2044 5 19V21C5 21.5523 4.55228 22 4 22C3.44772 22 3 21.5523 3 21V19C3 17.6739 3.52678 16.4021 4.46447 15.4645Z"
                    fill="currentColor"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12 4C10.3431 4 9 5.34315 9 7C9 8.65685 10.3431 10 12 10C13.6569 10 15 8.65685 15 7C15 5.34315 13.6569 4 12 4ZM7 7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7C17 9.76142 14.7614 12 12 12C9.23858 12 7 9.76142 7 7Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </span>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
